body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: F2DCBB;
  margin: 0px;
  overflow: hidden;
  user-select: none;
}
:root {
  --g1: linear-gradient(120deg, rgba(44,105,117,1) 1%, #F0F0F0 100%);
  --g2: linear-gradient(120deg, #43cea2 1%, #185a9d 100%);
  --g3: linear-gradient(120deg, #ed4264 1%, #ffedbc 100%);
  --g4: linear-gradient(120deg, #2c3e50 1%, #bdc3c7 100%);
  --g5: linear-gradient(120deg, rgba(191,171,255,1) 1%, rgba(249,217,73,1) 100%);
  --g6: linear-gradient(120deg, rgba(142,164,210,1) 1%, rgba(125,183,136,1) 100%);
  --g7: linear-gradient(120deg, rgba(250,169,22,1) 1%, rgba(120,244,226,1) 100%);
}

/* Homepage */

@font-face {
  font-family: 'Namefont';
  src: url('Namefont.woff2') format('woff2'),
       url('Namefont.woff') format('woff'),
       url('Namefont.ttf') format('truetype');
  font-weight: 400; /* Set the font weight */
  font-style: normal; /* Set the font style */
}
@font-face {
  font-family: 'AboutContentfont';
  src: url('Aboutcontent.ttf') format('truetype');
  font-weight: 525; /* Set the font weight */
  font-style: normal; /* Set the font style */
}

.instant-transition {
  transition-duration: 0ms ;
}

#wrapper {
  aspect-ratio: 1.618;
  width: 90vmin;
  position: relative;
}

#wrapper > .shape {
  height: 30%;
  width: 30%;
  background-color: rgba(255 255 255 / 5%);
  position: absolute;
  transition: left, top, height, width, border-radius;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  
}

#wrapper > .shape:nth-child(1) {
  background-color: #F0F0F0;
  z-index: 2;
}

#wrapper > .shape:nth-child(1):hover {
  background: var(--g1);
}

#wrapper > .shape:nth-child(2) {
  background-color: #3C486B;
  z-index: 3;
}
#wrapper > .shape:nth-child(2):hover {
  background: var(--g2);
}

#wrapper > .shape:nth-child(3) {
  background-color: #969CAE;
  z-index: 2;
}
#wrapper > .shape:nth-child(3):hover {
  background: var(--g4);
}

#wrapper > .shape:nth-child(4) {
  background-color: #F5E59D;
  z-index: 2;
}
#wrapper > .shape:nth-child(4):hover {
  background: var(--g3);
}

#wrapper > .shape:nth-child(5) {
  background-color: #F9D949;
  z-index: 2;
}
#wrapper > .shape:nth-child(5):hover {
  background: var(--g5);
}

#wrapper > .shape:nth-child(6) {
  background-color: #7DB788;
  z-index: 2;
}
#wrapper > .shape:nth-child(6):hover {
  background: var(--g6);
}

#wrapper > .shape:nth-child(7) {
  background-color: #78F4E2;
  z-index: 2;
}
#wrapper > .shape:nth-child(7):hover {
  background: var(--g7);
}

#wrapper[data-configuration="1"] > .shape:nth-child(1) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(2) {  
  left: 20%;
  top: 0%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 50%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(4) {  
  left: 0%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(5) {  
  left: 30%;
  top: 50%;
  height: 50%;
  width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(6) {  
  left: 70%;
  top: 50%;
  height: 50%;
  width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(7) {  
  left: 85%;
  top: 75%;
  height: 25%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 25%;
  top: 20%;
  height: 80%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(2) {  
  left: 40%;
  top: 20%;
  height: 50%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(3) {  
  left: 50%;
  top: 0%;
  height: 100%;
  width: 25%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(4) {  
  left: 0%;
  top: 0%;
  height: 50%;
  width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(5) {  
  left: 10%;
  top: 0%;
  height: 70%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(6) {  
  left: 75%;
  top: 10%;
  height: 80%;
  width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(7) {  
  left: 90%;
  top: 40%;
  height: 60%;
  width: 10%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 0%;
  top: 16.5%;
  height: 32%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(2) {  
  left: 20%;
  top: 2.7%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(3) {  
  left: 38%;
  top: 0%;
  height: 100%;
  width: 62%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(4) {  
  left: 0%;
  top: 47.3%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(5) {   
  left: 34%;
  top: 56.4%;
  height: 32%;
  width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(6) {  
  left: 66%;
  top: 45%;
  height: 55%;
  width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(7) {  
  left: 80%;
  top: 68%;
  height: 32%;
  width: 20%;
}

#wrapper[data-roundness="1"] > .shape {   
  border-radius: 6rem; 
}

#wrapper[data-roundness="2"] > .shape {  
  border-radius: 0rem;
}

#wrapper[data-roundness="3"] > .shape {  
  border-radius: 30rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(1) {  
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(2) {  
  border-radius: 20rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(3) {  
  border-top-right-radius: 12rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(4) {  
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(5) {  
  border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(6) {  
  border-top-left-radius: 16rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(7) {  
  border-top-left-radius: 10rem;
}



/*namelabel*/

.label {
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: black;
  font-family: "Namefont", sans-serif;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px; /* Adjust this value to change the distance between the text and the underline */
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
}

.label::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: black;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.label:hover::after {
  transform: scaleX(0);
}





/* endpage */


/* Aboutpage */
.labelreturntohome {
  position: fixed;
  top: 5%;
  right: 5%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  cursor: pointer;
  animation: fadeInScale 1s forwards;
  color: black;
}

@keyframes fadeInScale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOutScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}


.labelabout {
  position: fixed;
  top: 7%;
  left: 5%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Namefont", sans-serif;
  font-size: large;
  text-decoration-color: black;
  overflow: hidden;
  white-space: nowrap;
  animation: slideUp 1s forwards;
}


#abouttextwrapper {
  aspect-ratio: 1.618;
  width: 90vmin;
  position: relative;
}

.aboutcontenttitle {
  position: relative;
  top: 5%;
  left: 5%;
  color: black;
  font-size: xx-large;
  font-family: "Namefont", sans-serif;
  text-decoration-color: black;
  max-width: 80%;
  width: 28ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Namefont", sans-serif;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}




.aboutcontent {
  position: relative;
  top: 5%;
  left: 5%;
  color: black;
  font-size: large;
  font-family: "AboutContentfont", sans-serif;
  text-decoration-color: black;
  white-space: pre-line;
  max-width: 80%; /* Adjust this value based on the shape's width */
  max-height: 80%; /* Adjust this value based on the shape's height */
  overflow-y: auto;
  text-align: justify;
}




.linkedin-link {
  text-decoration: underline;
  color: inherit; 
  
}

.linkedin-link:hover {
  text-decoration: none; /* Remove the underline when hovering */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.email-link {
  text-decoration: underline;
  cursor: pointer;
  color: inherit; /* Use the same color as the surrounding text */
}

.email-link:hover {
  text-decoration: none; /* Remove the underline when hovering */
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomOutFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes zoomInFade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}





/*Testing zone*/









